.container-fluid
    .row.small
        .col-12.col-md-6.col-xl-3.px-5.py-3.border
            .py-0
                .fas.fa-link.text-muted.small.mr-1
                a.text-muted(href="") This is a test link to sumware
            .py-0
                .fas.fa-link.text-muted.small.mr-1
                a.text-muted(href="") This is a test link to sumware
            .py-0
                .fas.fa-link.text-muted.small.mr-1
                a.text-muted(href="") This is a test link to sumware
        .col-12.col-md-6.col-xl-3.px-5.py-3.border
            .py-0
                .fas.fa-link.text-muted.small.mr-1
                a.text-muted(href="") This is a test link to sumware
            .py-0
                .fas.fa-link.text-muted.small.mr-1
                a.text-muted(href="") This is a test link to sumware
            .py-0
                .fas.fa-link.text-muted.small.mr-1
                a.text-muted(href="") This is a test link to sumware
        .col-12.col-md-6.col-xl-3.px-5.py-3.border
            .py-0
                .fas.fa-link.text-muted.small.mr-1
                a.text-muted(href="") This is a test link to sumware
            .py-0
                .fas.fa-link.text-muted.small.mr-1
                a.text-muted(href="") This is a test link to sumware
            .py-0
                .fas.fa-link.text-muted.small.mr-1
                a.text-muted(href="") This is a test link to sumware
        .col-12.col-md-6.col-xl-3.px-5.py-3.border
            .py-0
                .fas.fa-link.text-muted.small.mr-1
                a.text-muted(href="") This is a test link to sumware
            .py-0
                .fas.fa-link.text-muted.small.mr-1
                a.text-muted(href="") This is a test link to sumware
            .py-0
                .fas.fa-link.text-muted.small.mr-1
                a.text-muted(href="") This is a test link to sumware