.container-fluid
	.row.small
		.col-12.col-md-6.col-xl-3.px-5.py-3.border-top
			p.my-0.pb-1.h5.text-secondary Site Links
			.row(data-ng-if="content.navigation.length>0")
				.col-12(data-ng-repeat="link in content.navigation")
					a.text-muted(data-ng-href="{{user.buildNavigationLink(link)}}")
						i.fas.fa-link.text-muted.small.mr-1
						span(data-ng-bind="link.name")

		.col-12.col-md-6.col-xl-3.px-5.py-3.border-top(data-ng-init="!content.article.list?request.list('article',true):''")
			p.my-0.pb-1.h5.text-secondary Latest Stories
			.row(data-ng-if="content.article.list.length>0")
				.col-12(data-ng-repeat="link in content.article.list | limitTo:6 | orderBy:link.updatedAt:true")
					a.text-muted(data-ng-href="/article/{{link._id}}")
						i.fas.fa-link.text-muted.small.mr-1
						span(data-ng-bind="link.name")


		.col-12.col-md-6.col-xl-3.px-5.py-3.border-top
			p.my-0.pb-1.h5
				a.text-secondary(data-ng-href="/") Saloras Satellite Center
			p.my-0.h6.small.text-muted Ν Α ΖΑΧΑΡΙΟΥΔΑΚΗ ΕΠΕ
			p.my-0.text-muted  Στρυμώνος 11, 71304
			p.my-0.text-muted Ηράκλειο Κρήτης
			p.my-0
				a.text-muted(href="tel:+302810372800") +30 2810 372800
			p.my-0
				a.text-muted(href="mailto:info@saloras.gr") info@saloras.gr
		.col-12.col-md-6.col-xl-3.px-5.py-3.border-top
			.py-0.text-center
				a(data-ng-href="/")
					img.w-75.mb-4(data-ng-src="/images/logo-banner.svg",alt="Saloras Satellite Center")
			.py-0
				a(data-ng-href="http://web.visionadv.gr")
					img.w-50.pr-4(data-ng-src="/images/vision-web-min.png",alt="Vision Web")
				a(data-ng-href="https://github.com/MrSRK/storejs")
					img.w-50(data-ng-src="/images/technologies-min.png",alt="Vision Web")
			.py-0.text-right
				span.text-muted.small Σχεδιασμός Δημιουργία
				a.text-muted.ml-1(data-ng-href="http://web.visionadv.gr") Vision Web
				span.text-muted.small.ml-1.d-none.d-lg-inline-block part of
				a.text-muted.ml-1.d-none.d-lg-inline-block(data-ng-href="http://www.visionadv.gr") Vision Group
			.py-0.text-right.text-muted.small
				a.mr-1.text-muted(href="") www.saloras.gr
				span.mr-1 &copy; 2020
				a.mr-1.text-muted(href="http://web.visionadv.gr") vision web
				a.mr-1.text-muted(href="http://web.visionadv.gr") store.js