nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light.py-1.px-4
	a.navbar-brand.text-muted.mr-5(href='/')
		picture
			source(type="image/svg+xml",srcset="/images/logo-small.svg")
			source(type="image/webp",srcset="/images/logo-small.webp")
			source(type="image/png",srcset="/images/logo-small.png")
			source(type="image/jpg",srcset="/images/logo-small.jpg")
			img(alt="Saloras Satellite Center",title="Saloras Satellite Center",src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==",data-ng-src="/images/logo-small.svg")
	button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navigation-menu', aria-controls='navigation-menu', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	#navigation-menu.collapse.navbar-collapse
		ul.navbar-nav.mr-auto(data-ng-init="request.navigation()")
			li.nav-item.text-capitalize.mr-3(data-ng-if="content.navigation.length>0",data-ng-repeat="nav in content.navigation",data-ng-class="nav.child?'dropdown':''")
				a.nav-link(data-ng-if="!nav.child",data-ng-href="{{user.buildNavigationLink(nav)}}",data-ng-bind="nav.name")
				a.nav-link(data-ng-if="nav.child",data-ng-href="{{user.buildNavigationLink(nav)}}",data-ng-bind="nav.name",role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
				.dropdown-menu(aria-labelledby="navbarDropdownMenuLink",data-ng-if="nav.child")
					a.nav-link(data-ng-if="nav.child",data-ng-repeat="c in nav.child",data-ng-href="{{user.buildNavigationLink(c)}}",data-ng-bind="c.name")