nav.navbar.navbar-expand-lg.navbar-light.sticky-top.py-1.px-4
	a.navbar-brand.text-muted.mr-5(href='/')
		picture
			source(type="image/svg+xml",srcset="/images/logo-small.svg")
			source(type="image/webp",srcset="/images/logo-small.webp")
			source(type="image/png",srcset="/images/logo-small.png")
			source(type="image/jpg",srcset="/images/logo-small.jpg")
			img(alt="Saloras Satellite Center",title="Saloras Satellite Center",src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==",data-ng-src="/images/logo-small.svg")
	button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navigation-menu', aria-controls='navigation-menu', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	#navigation-menu.collapse.navbar-collapse
		ul.navbar-nav.mr-auto(data-ng-init="request.navigation()")
			li.nav-item.text-capitalize.mr-3(data-ng-if="content.navigation.length>0",data-ng-repeat="nav in content.navigation",data-ng-class="nav.child?'dropdown':''")
				a.nav-link(data-ng-if="!nav.child",data-ng-href="{{user.buildNavigationLink(nav)}}",data-ng-bind="nav.name")
				a.nav-link(data-ng-if="nav.child",data-ng-href="{{user.buildNavigationLink(nav)}}",data-ng-bind="nav.name",role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
				.dropdown-menu(aria-labelledby="navbarDropdownMenuLink",data-ng-if="nav.child")
					a.nav-link(data-ng-if="nav.child",data-ng-repeat="c in nav.child",data-ng-href="{{user.buildNavigationLink(c)}}",data-ng-bind="c.name")

		//  User Login menu
		//ul.navbar-nav.ml-auto
			li.nav-item.text-capitalize(data-ng-if="!navuser.token")
				a.nav-link(data-ng-href="/administrator/login") login
			li.nav-item.text-capitalize(data-ng-if="navuser.token")
				span.nav-link
					spna.mr-2 Wellcome
					picture(data-ng-if="navuser.images&&navuser.images.length>0")
						source(
							data-ng-repeat="type in ['webp','png','jpg']",
							data-ng-if="navuser.images[0].thumbnail[type]",
							type="image/{{type}}",
							data-ng-srcset="/thumbnail/administrator/{{navuser._id+'/'+navuser.images[0].thumbnail[type].name+'/'+navuser.images[0].thumbnail[type].name+'.'+type}}"
						)
						img.mr-2.img-thumbnail(style="max-width:30px",src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==",data-ng-src="/images/404-min.png")
					span.small.text-info(data-ng-bind="navuser.name")
			li.nav-item.text-capitalize(data-ng-if="navuser.token")
				a.font-weight-bold.nav-link(href="#",data-ng-click="admin.logout()") Logout