doctype html
html(lang="el",data-ng-app="app",data-ng-controller="page-handler")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='shortcut icon', href='/favicon.ico')
		link(rel='stylesheet', href='/css/main.css')

		link(rel="preload", href="/js/xhr.json.web-worker.js")
		link(rel="preload", href="/js/cjs.molude.angular.js")

		title(data-ng-bind="(page.title?page.title+' - ':'')+'Saloras Satellite Center'")
		meta(name="description",content="{{(page.description?page.description:'Μελέτη, Κατασκευή, Τεχνική Υποστήριξη Δικτύων, Εφαρμογών, Συστημάτων Μετάδοσης και Διανομής Τηλεοπτικού Σήματος και Internet')}}")
		meta(name="theme-color",content="#0000FF)")
	body
		include header
		.container-fluid.p-0.m-0
			block content
		include footer

		script(src='/js/lib/jquery.min.js')
		script(src='/js/lib/popper.min.js')
		script(src='/js/lib/bootstrap.min.js')
		script(src='/js/lib/angular.min.js')
		script(src='/js/main.js')