extends partials/layout
block content
	.container-fluid.m-5
		h1.text-primary ERROR 404
		p.text-muted.font-italic  Αυτη η ηλεκτρονική διεύθυνση δεν υπάρχει ή εχει καταργηθει προσωρινά για τεχνικούς λόγους.