extends partials/layout
block content
	.container-fluid.m-0.p-0
		#homeCarouselControls.carousel.slide(data-ride='carousel',data-ng-init="request.list('carousel')")
			.carousel-inner
				.carousel-item(data-ng-repeat="carousel in content.carousel.list",data-ng-class="$index==0?'active':''")
					picture(data-ng-if="carousel.images&&carousel.images.length>0")
							source(
								data-ng-repeat="type in ['webp','png','jpg']",
								data-ng-if="carousel.images[0].thumbnail[type]",
								type="image/{{type}}",
								data-ng-srcset="/thumbnail/carousel/{{carousel._id+'/'+carousel.images[0].thumbnail[type].name+'/'+carousel.images[0].thumbnail[type].name+'.'+type}}"
							)
							img.d-block.w-100(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==",data-ng-src="{{build.defimgsrc('carousel',carousel)}}" title="{{carousel.name}}" alt="{{carousel.name}}")
				.carousel-item.active(data-ng-if="!content.carousel.list")
					img.d-block.w-100(height="377",src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==",alt="Saloras Satellite Center")
			a.carousel-control-prev(href='#homeCarouselControls', role='button', data-slide='prev')
				span.carousel-control-prev-icon(aria-hidden='true')
				span.sr-only Previous
			a.carousel-control-next(href='#homeCarouselControls', role='button', data-slide='next')
				span.carousel-control-next-icon(aria-hidden='true')
				span.sr-only Next
	.container-fluid.p-1.d-none.d-lg-block
		img.w-100(data-ng-src="images/animation.svg",title="Saloras Satellite Center",alt="Saloras Satellite Center")
	.mb-1(data-ng-include="'/template/article.row.html'")
	.container-fluid.p-2.small
		p.px-2.mt-3 Η Saloras Satellite Center (SSC) δραστηριοποιείται στο χώρο των επικοινωνιών, στην προμήθεια και εγκατάσταση τεχνολογικού εξοπλισμού και υπηρεσιών για μεγάλα ξενοδοχειακά και αστικά συγκροτήματα, οικισμούς κλπ. Σήμερα η εταιρεία SSC είναι από τους πλέον έμπειρους προμηθευτές και κατασκευαστές δικτύων οπτικών ινών, ολοκληρωμένων δορυφορικών κέντρων λήψης - διανομής και καλωδιακών δικτύων RF μεγάλης έκτασης.
	script(type="application/ld+json",data-ng-bind="::ssc")