extends partials/layout
block content
	.container-fluid.m-0.p-0
		#homeCarouselControls.carousel.slide(data-ride='carousel',data-ng-init="request.list('carousel')")
			.carousel-inner
				.carousel-item(data-ng-repeat="carousel in [1,2,3,4]",data-ng-class="$index==0?'active':''")
					img.w-100.d-sm-block.d-md-none(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==",data-ng-src="/images/banner/{{carousel}}-sm.png" title="Saloras Satellite Center" alt="Saloras Satellite Center {{carousel}}")
					img.w-100.d-none.d-md-block.d-lg-none(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==",data-ng-src="/images/banner/{{carousel}}-md.png" title="Saloras Satellite Center" alt="Saloras Satellite Center {{carousel}}")
					img.w-100.d-none.d-lg-block.d-xl-none(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==",data-ng-src="/images/banner/{{carousel}}-lg.png" title="Saloras Satellite Center" alt="Saloras Satellite Center {{carousel}}")
					img.w-100.d-none.d-xl-block(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==",data-ng-src="/images/banner/{{carousel}}-xl.png" title="Saloras Satellite Center" alt="Saloras Satellite Center {{carousel}}")
			a.carousel-control-prev(href='#homeCarouselControls', role='button', data-slide='prev')
				span.carousel-control-prev-icon(aria-hidden='true')
				span.sr-only Previous
			a.carousel-control-next(href='#homeCarouselControls', role='button', data-slide='next')
				span.carousel-control-next-icon(aria-hidden='true')
				span.sr-only Next
	//.container-fluid.p-1.text-center
		img.w-50(data-ng-src="images/animation.svg",title="Saloras Satellite Center",alt="Saloras Satellite Center")
	.container-fluid.pt-4.text-center
		p.px-5.mx-5.mt-1
			strong Η Saloras Satellite Center (SSC) δραστηριοποιείται στην προμήθεια και εγκατάσταση τεχνολογικού εξοπλισμού και υπηρεσιών τηλεόρασης και Internet για μεγάλα ξενοδοχειακά και αστικά συγκροτήματα, μικρότερα ξενοδοχεία, ενοικιαζόμενα διαμερίσματα και ιδιώτες.
		p.px-5.mx-5.mt-1
			strong Σήμερα η εταιρεία SSC είναι από τους πλέον έμπειρους μελετητές και κατασκευαστές δικτύων οπτικών ινών (εφαρμόζει την υπερσύγχρονη τεχνολογία F.T.T.R.), ολοκληρωμένων δορυφορικών κέντρων λήψης - διανομής και καλωδιακών δικτύων RF μεγάλης έκτασης. 
		p.px-5.mx-5.mt-1
			strong Διαθέτει άριστης ποιότητας προϊόντα, κεραίες, ενισχυτές, τα πάντα για την τηλεόραση και τη διανομή Internet και παρέχει εξαιρετική τεχνική υποστήριξη, σωστή πληροφόρηση και ανταγωνιστικές τιμές. 


	.mb-1(data-ng-include="'/template/article.row.html'")
	script(type="application/ld+json",data-ng-bind="::ssc")