extends partials/layout
block content
	.container-fluid
		.container(data-ng-init="request.list('"+model+"')")
			h1.text-capitalize=model+'s'
			.mt-5(data-ng-if="content."+model+".list")
				.row(data-ng-clock,data-ng-if="content."+model+".list.length>2")
					.col-12.col-md-6.col-lg-4.col-xl-3(data-ng-repeat="rec in content."+model+".list")
						.card
							picture(data-ng-if="rec.images&&rec.images.length>0")
								source(data-ng-repeat="type in ['webp','png','jpg']" data-ng-if="rec.images[0].thumbnail[type]",type="image/{{type}}",data-ng-srcset="/images/thumbnails/thumbnail-{{rec._id+'.'+type}}")
								img.card-img-top(data-ng-src="/upload/images/"+model+"/{{rec._id+'/'+rec.images[0].filename}}")
							.card-body
								.card-title.text-center(data-ng-bind="rec.title?rec.title:rec.name")
								p.card-text(data-ng-bind="rec.description")
								.text-right
									a.btn.btn-sm.btn-primary(data-ng-href="/"+model+"/{{rec._id}}") Περισσότερα
				p.text-muted.font-italic(data-ng-clock,data-ng-if="content."+model+".list.length==0") Δεν υπάρχουν καταχωρημένες ενεργές εγγραφές