form(autocomplete="on")
	.row(data-ng-if="cart")
		.col-11.text-right.my-5
			.btn-group
				button.btn.btn-lg.btn-secondary.py-1(type="button",data-ng-click="user.setCartPage(3)") Προηγούμενο
				//button.btn.btn-lg.btn-primary.py-1(type="button",data-ng-click="user.setCartPage(4)") Επόμενο