.container-fluid(data-ng-init="request.list('article',true)")
	.row
		.col-12.col-sm-6.col-md-4.col-lg-2.p-3(data-ng-repeat="article in content.article.list")
			.card
				a.text-dark(data-ng-href="/article/{{article._id}}")
					picture(data-ng-if="article.images&&article.images.length>0")
						source(
							data-ng-repeat="type in ['webp','png','jpg']",
							data-ng-if="article.images[0].thumbnail[type]",
							type="image/{{type}}",
							data-ng-srcset="/thumbnail/article/{{article._id+'/'+article.images[0].thumbnail[type].name+'/'+article.images[0].thumbnail[type].name+'.'+type}}"
						)
						img.card-img-top(data-ng-src="{{build.defimgsrc('article',article)}}" title="{{article.title}}" alt="{{article.title}}")
				.card-body
					h5.card-title
						a.text-dark(data-ng-href="/article/{{article._id}}",data-ng-bind="article.name")
					p.card-text.small.d-none.d-lg-block.text-truncate(data-ng-bind="article.description")
					.text-right
						a.btn.btn-sm.btn-outline-secondary.text-secondary(data-ng-href="/article/{{article._id}}") Περισσότερα