form.container(data-ng-if="content."+model+".edit")
	fieldset(data-ng-disabled="content."+model+".edit.tmp.disabled")
		h1.h3.text-capitalize.mb-5="Επεξεργασία "+model
		.text-right.my-4(data-ng-include="'/template/button-group.edit.html?model="+model+"&_id="+_id+"'")
		.row(data-ng-repeat="column in content."+model+".schema")
			.col-12
				span(data-ng-if="admin.inArray(column,['_id'])")
				span(data-ng-if="admin.inArray(column,['password'])")
				.form-check.mb-3(data-ng-if="admin.inArray(column,['active','subscribe','open','sticky'])",data-ng-include="'/template/checkbox.edit.html?model="+model+"&_id="+_id+"'")
				.form-group(data-ng-if="admin.inArray(column,['email','co-email'])",data-ng-include="'/template/email.edit.html?model="+model+"&_id="+_id+"'")
				.form-group(data-ng-if="admin.inArray(column,['email'])",data-ng-include="'/template/password.edit.html?model="+model+"&_id="+_id+"'")
				.form-group(data-ng-if="admin.inArray(column,['price'])",data-ng-include="'/template/price.edit.html?model="+model+"&_id="+_id+"'")
				.form-group(data-ng-if="admin.inArray(column,['order','count',quantity])",data-ng-include="'/template/quantity.edit.html?model="+model+"&_id="+_id+"'")
				.form-group(data-ng-if="admin.inArray(column,['createdAt','updatedAt'])",data-ng-include="'/template/static-date.edit.html?model="+model+"&_id="+_id+"'")
				.form-group(data-ng-if="admin.inArray(column,['parent','navigation','category'])",data-ng-init="request.table(column=='parent'?'"+model+"':column)",data-ng-include="'/template/select-parent.edit.html?model="+model+"&_id="+_id+"'")
				.form-group.p-3.border.border-muted(data-ng-if="admin.inArray(column,['url','uri','link'])",data-ng-include="'/template/url.edit.html?model="+model+"&_id="+_id+"'")
				.form-group(data-ng-if="admin.inArray(column,['images','thumbnails','pictures'])",data-ng-include="'/template/thumbnails.edit.html?model="+model+"&_id="+_id+"'")
				.form-group(data-ng-if="admin.inArray(column,['description','text'])",data-ng-include="'/template/textarea.edit.html?model="+model+"&_id="+_id+"'")
				.form-group(data-ng-if="admin.notInAllArray(column)",data-ng-include="'/template/textfield.edit.html?model="+model+"&_id="+_id+"'")
		.text-right.mb-5(data-ng-include="'/template/button-group.edit.html?model="+model+"&_id="+_id+"'")