label.text-muted.text-capitalize(for='edit-{{column}}',data-ng-bind="column")
label.text-muted.form-control.w-25(id="edit-{{column}}",type='text',data-ng-bind="content."+model+".edit[column] | date:'dd-MM-yyyy hh:mm:ss'")