.row.row-eq-height
	.col-12
		label.text-muted.text-capitalize(for='edit-{{column}}',data-ng-bind="column")
.row.row-eq-height.p-3.border.border-muted
	.col-1
		button.card.p-3.border-muted(onclick="document.getElementById('imageAdd').click()")
			.card-title
				h1.text-center.text-primary.font-weight-bold +
		input.d-none#imageAdd(type="file",onchange="angular.element(this).scope().admin.addImage('"+model+"','"+_id+"','#imageAdd')",accept=".png,.jpg,.webp")
	.col-2.mb-4(data-ng-repeat="image in content."+model+".edit[column]")
		.card.p-0.border-muted.h-100.disabled
			.card-footer.text-right.p-0
				a.btn.btn-link.px-1.pb-0(data-ng-href="{{build.defimgsrc('"+model+"',content."+model+".edit)}}",download="{{image.originalname}}")
					i.fas.fa-download.text-primary
				button.btn.btn-link.px-1.pb-0(data-ng-click="admin.deleteImage('"+model+"',content."+model+".edit,image)")
					i.fas.fa-trash-alt.text-danger
				.ml-1.text-left.text-truncate.small
					small.text-muted(data-ng-bind="image.originalname")
			picture
				source(
					data-ng-repeat="type in ['webp','png','jpg']",
					data-ng-if="image.thumbnail[type]",
					type="image/{{type}}",
					data-ng-srcset="/thumbnail/"+model+"/{{content."+model+".edit._id+'/'+image.thumbnail[type].name+'/'+image.thumbnail[type].name+'.'+type}}"
					)
				img.card-img-top(data-ng-src="/img/"+model+"/{{content."+model+".edit._id+'/'+image.filename}}",alt="image")